*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 30px 1fr 30px;
    text-align: center;
}
.header, .footer{
    background: lime;
}
.sidebar{
    background: dodgerblue;
}
.content{
    background: blueviolet;
}
.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}